/* stylesheet */

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    
   
}

.header {
    display: flex;
    justify-content: space-around;
    align-items:baseline;
    flex: 1;
    border:brown;
    border-style: solid;
    margin-top: 0px;
    background-color: #1F2937;
    font-size: 24px;
    color: #F9FAF8;
}

.headerleft {
        display: flex;
        border:brown;
        border-style: solid;
        height: 30px;
}
    
li {
    list-style: none;

}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
    padding: 18px;

}

ul {
    display: flex;

    border:brown;
    border-style: solid;

}

button {
    border-color: #F9FAF8;
    border-style: solid;
    border-radius: 5px;
    background-color: #3882f6;
    color: #F9FAF8;
    font-weight: bold;
    font-size: 16px;
    width: 100px;
    height: 50px;
}


.belowheader {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border:brown;
    border-style: solid;
    background-color: #1F2937;
    padding: 80px;
    
}

.belowleft {
    border:brown;
    border-style: solid;
    width: 480px;
    height: 330px;
    
}

.belowright {
    border:brown;
    border-style: solid;
    text-align: center;
    width: 600px;
    height: 250px;
    background-color: #b7bbc4;
}

h1 {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

p {
    font-size: 18px;
    color: #E5E7EB;
}

.mainbody {
    display: flex;
    justify-content: center;
    align-items: center;
    border:brown;
    border-style: solid;
    padding: 5rem;
    flex-direction: column;



}

h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937
}

.imageflex {
    display: flex;
    padding-top: 1rem;
    gap: 2rem;
}

.image {

    border:#3882f6;
    border-style: solid;
    border-radius: 25px;
    width: 180px;
    height: 180px;

}

.image1 {background-color: chartreuse;}
.image2 {background-color: chocolate;}
.image3 {background-color: cornflowerblue;}
.image4 {background-color: crimson;}

.textflex {
    display: flex;
    padding-top: 1rem;
    width: 800px;
    gap: 2.5rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.quote {
    display: flex;
    justify-content: center;
    align-items: center;
    border:brown;
    border-style: solid;
    background: #E5E7EB;
    padding: 75px;

    
}

.thorquote {
    width: 400px;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.thorthx {

    
    
}

.cta {
    display: flex;
    justify-content: center;
    border:brown;
    border-style: solid;
    padding: 50px;

}


.cta1 {
    background-color: #3882f6;
    color: #F9FAF8;
    border-style: solid;
    border-radius: 5px;
    padding: 50px;


}


.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    border:brown;
    border-style: solid;
    background-color: #1F2937;
    padding: 25px;
    color: #E5E7EB;
}