/* stylesheet */

body {
    /* display: flex;
    flex-direction: column;
    height: 100vh; */
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 13rem;
    margin-right: 13rem;
    font-family: 'Roboto', sans-serif;
    background: #1f2124;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* flex: 1; */
    /* border:brown;
    border-style: solid; */
    /* margin-top: 0px; */
    background-color: #1F2937;
    font-size: 24px;
    color: #F9FAF8;
    gap: 4rem;
}

.headerleft {
        display: flex;
        /* border:brown;
        border-style: solid; */
        height: 30px;
        font-weight: 900;

}
    
li {
    list-style: none;

}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
    padding: 18px;

}

ul {
    display: flex;

    /* border:brown;
    border-style: solid; */

}

button {
    border-color: #3882f6;
    border-style: solid;
    border-radius: 5px;
    background-color: #3882f6;
    color: #F9FAF8;
    font-weight: bold;
    font-size: 16px;
    width: 145px;
    height: 40px;
    margin-top: 1rem;
}

.belowheader {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border:brown;
    border-style: solid; */
    background-color: #1F2937;
    height: 30rem;
    
}

.belowleft {
    /* border:brown;
    border-style: solid; */
    width: 480px;
    height: 330px;
    padding-right: 2rem;
    
}

.belowright {
    /* border:brown;
    border-style: solid; */
    width: 500px;
    height: 250px;
    background-color: #737385;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    margin-bottom: 0;
}

p {
    font-size: 18px;
    color: #E5E7EB;
    margin: 0;
}

.mainbody {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border:brown;
    border-style: solid; */
    height: 30rem;
    flex-direction: column;
    background: white;
}

h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937
}

.imageflex {
    display: flex;
    padding-top: 1rem;
    gap: 2rem;
}

.image {

    border:#3882f6;
    border-style: solid;
    border-radius: 25px;
    width: 180px;
    height: 180px;
    text-align: center;
    font-size: 18px;

}

.image1 {background-color: chartreuse;}
.image2 {background-color: chocolate;}
.image3 {background-color: cornflowerblue;}
.image4 {background-color: crimson;}

.textflex {
    display: flex;
    padding-top: 1rem;
    width: 800px;
    gap: 4rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 3rem;
    
}

.quote {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border:brown;
    border-style: solid; */
    background: #E5E7EB;
    height: 25rem;
    flex-direction: column;
}

.thorquote {
    width: 900px;
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    color: #1F2937;
   
}

.thorthx {
    font-weight: 900;
    font-size: 24px;
    margin-left: 30rem;
    
}

.cta {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border:brown;
    border-style: solid; */
    height: 20rem;
    background: white;

}

.cta1 {
    background-color: #3882f6;
    color: #F9FAF8;
    border-style: solid;
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1000px;
    height: 150px;
}

h3 {
    margin: 0;
}
    
.butt {
    border-color: #F9FAF8;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border:brown;
    border-style: solid; */
    background-color: #1F2937;
    height: 7rem;
    color: #E5E7EB;
    font-weight: 900;
}